---
layout: default
title: Blog
permalink: /blog/
---

<body class="blog">

	{% include header.html %}
	
<!-- Main content -->
<div class="container">
	<section id="recent-posts" style="background: #f5f5f5">
		<div class="blog-posts-wrap">
			<div class="row">
			{% for post in site.posts limit: 3 %}
			<!-- begin blog post -->
			<div class="blog-post columns large-4 medium-4 small-12">
				<a href="{{post.url}}"><img src="{{post.image}}" alt="{{post.image_alt}}"></a>
				<div class="post-text">
					<h3>{{post.title}}</h3>
					<span class="post-meta">By {{post.author}} | {{post.date | date: "%b %-d, %Y"}}  |  Blog</span>
					<p>{{ post.content | strip_html | truncatewords: 12, '...'}}</p>
					<a href="{{post.url}}" class="read-more">Read more</a>
				</div><!-- End .post-text -->
			</div><!-- End .blog-post -->
			<!-- end blog post -->
			{%endfor%}					
			</div><!-- End .row -->

			{%if site.posts.size > 3%}
			<div class="row">
			{% for post in site.posts offset: 3 limit: 3 %}
			<!-- begin blog post -->
			<div class="blog-post columns large-4 medium-4 small-12">
				<a href="{{post.url}}"><img src="{{post.image}}" alt="{{post.image_alt}}"></a>
				<div class="post-text">
					<h3>{{post.title}}</h3>
					<span class="post-meta">By {{post.author}} | {{post.date | date: "%b %-d, %Y"}}  |  Blog</span>
					<p>{{ post.content | truncatewords: 12, '...' }}</p>
					<a href="{{post.url}}" class="read-more">Read more</a>
				</div><!-- End .post-text -->
			</div><!-- End .blog-post -->
			<!-- end blog post -->
			{%endfor%}					
			</div><!-- End .row -->
			{%endif%}
		</div><!-- End .blog-posts-wrap -->
	</section><!-- End #recent-posts -->
</div><!-- End .container -->