---
layout: page
title: "Mollie <em>&amp;</em> Nick"
permalink: /
---

	<!-- Couple section -->
	<section id="couple" class="row">
		<div class="columns large-12">
			<div class="columns large-4 medium-4">
				<span class="headshot bride">
					<img src="/img/media/mollie.jpg" alt="bride headshot" width="233">
				</span>
				<h3>Mollie</h3>
				<p class="desc bride">
					&quot;She's my favorite person. Mollie is so passionate, from food to her faith, that you can't help but get excited around her. She inspires me every day to live better.&quot; - Nick
					<span class="social bride">
						<a title="Mollie on Facebook" href="https://www.facebook.com/mollie.dawahare" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
				        <a title="Mollie on Pinterest" href="https://www.pinterest.com/molliedawahare" target="_blank"><i class="fa fa-pinterest-p fa-2x"></i></a>
			    	</span>
				</p>
			</div><!-- End .large-4 -->
			<div class="columns large-4 medium-4">
				<p class="giant-ampersand">&amp;</p>
			</div><!-- End .large-4 -->
			<div class="columns large-4 medium-4">
				<span class="headshot groom">
					<img src="/img/media/nick.jpg" alt="groom headshot" width="233">
				</span>
				<h3>Nick</h3>
				<p class="desc groom">
					&quot;Nick has a heart of gold. He is the sweetest, most thoughtful person I have ever met, and I (still) can't believe I get to marry him! Thank you, God, for sending me my better half and best friend forever.&quot; - Mollie
					<span class="social groom">
						<a title="Nick on Facebook" href="https://www.facebook.com/nicksuch" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
				        <a title="Nick on Twitter" href="https://twitter.com/nicksuch" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
			    	</span>
				</p>
			</div><!-- End .large-4 -->
		</div><!-- End .large-12 -->
	</section><!-- End #couple -->
	
	<!-- Countdown section -->
	<section id="countdown">
		<h2>Countdown to our Wedding</h2>
		<div id="default-countdown"></div>
	</section><!-- End #countdown -->
	
	<!-- Bridesmaids gallery section -->
	<section id="bridesmaid-gallery">
		<h2>Bridesmaids</h2>
		<nav class="dg-nav">	
			<span class="dg-prev">&lt;</span>
			<span class="dg-next">&gt;</span>
		</nav>
		<div id="bridesmaid-carousel" class="dg-container">
			<div class="dg-wrapper">

				{% for bridesmaid in site.data.bridesmaids %}
				<!-- begin bridesmaid image -->
				<a href="#" style="background:url({{bridesmaid.image}}) no-repeat 50% center; background-size:cover;">
					<img src="{{bridesmaid.image}}" alt="{{bridesmaid.name}}, {{bridesmaid.title}}">
					<div>
						<span class="guest-name">{{bridesmaid.name}}</span>
						<span class="guest-title">{{bridesmaid.title}}</span>
						<span class="guest-story">{{bridesmaid.story}}</span>
					</div>
				</a>
				<!-- end bridesmaid image -->
				{% endfor %}

			</div><!-- End .dg-wrapper -->
		</div><!-- End #bridesmaid-carousel -->
		<div class="bridemaids-mobile-slider-wrap"><div class="bridemaids-mobile-slider"></div></div>
	</section><!-- End #bridesmaid-gallery -->
	
	<!-- Groomsmen gallery section -->
	<section id="groomsmen-gallery">
		<h2>Groomsmen</h2>
		<nav class="dg-nav-g">	
			<span class="dg-prev-g">&lt;</span>
			<span class="dg-next-g">&gt;</span>
		</nav>
		<div id="groomsmen-carousel" class="dg-container">
			<div class="dg-wrapper-g">

				{% for groomsman in site.data.groomsmen %}
				<!-- begin groomsman image -->
				<a href="#" style="background:url({{groomsman.image}}) no-repeat center; background-size:cover;">
					<img src="{{groomsman.image}}" alt="{{groomsman.name}}, {{groomsman.title}}">
					<div>
						<span class="guest-name">{{groomsman.name}}</span>
						<span class="guest-title">{{groomsman.title}}</span>
						<span class="guest-story">{{groomsman.story}}</span>
					</div>
				</a>
				<!-- end groomsman image -->
				{% endfor %}

			</div><!-- End .dg-wrapper-g -->
		</div><!-- End #groomsmen-carousel -->
		<div class="groomsmen-mobile-slider-wrap"><div class="groomsmen-mobile-slider"></div></div>
	</section><!-- End #groomsmen-gallery -->
	
	<!-- Couple gallery section -->
	<section id="couple-gallery">
		<h2>Gallery</h2>
		<div class="il-scattered-gallery">
		{% for photo in site.static_files %}{% if photo.path contains '/img/gallery' %}
			<a href="#"><img src="{{photo.path}}" alt="Mollie and Nick"></a>
		{% endif %}{% endfor %}
		</div>
		<div class="couple-slideshow-wrap">
			<ul id="couple-slideshow"></ul>
			<ul class="couple-thumbs"></ul>
		</div><!-- End .couple-slideshow-wrap -->
		<a id="gallery-launcher" href="#">Click to view gallery</a>
		<div class="couple-mobile-slider-wrap"><div class="couple-mobile-slider"></div></div>
	</section><!-- End #couple-gallery -->
	
	<!-- Recent posts section -->
	<section id="recent-posts">
		<h2>Recent Posts</h2>
		<div class="blog-posts-wrap">

			<!-- begin blog post -->
			<div class="blog-post columns large-4 medium-4 small-12">
				<img src="http://placehold.it/294x232" alt="">
				<div class="post-text">
					<h3>Our Love Story</h3>
					<span class="post-meta">By admin | Oct 22, 2014  |  Blog</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ullam rhoncus, leo at Lorem...</p>
					<a href="single.html" class="read-more">Read more</a>
				</div>
			</div>
			<!-- end blog post -->
			
			<!-- begin blog post -->
			<div class="blog-post columns large-4 medium-4 small-12">
				<img src="http://placehold.it/294x232" alt="">
				<div class="post-text">
					<h3>Bachelor's Party</h3>
					<span class="post-meta">By admin | Oct 22, 2014  |  Blog</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ullam rhoncus, leo at Lorem...</p>
					<a href="single.html" class="read-more">Read more</a>
				</div>
			</div>
			<!-- end blog post -->
			
			<!-- begin blog post -->
			<div class="blog-post columns large-4 medium-4 small-12">
				<img src="http://placehold.it/294x232" alt="">
				<div class="post-text">
					<h3>Bridal Party</h3>
					<span class="post-meta">By admin | Oct 22, 2014  |  Blog</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ullam rhoncus, leo at Lorem...</p>
					<a href="single.html" class="read-more">Read more</a>
				</div>
			</div>
			<!-- end blog post -->

		</div><!-- End .blog-posts-wrap -->
	</section><!-- End #recent-posts -->
	
	<!-- Registry section -->
	<section id="registry">
		<div class="registry-form-wrap">
			<h2>Registry</h2>
			<p class="registry-desc">We are registered at the following stores:</p>
			<div class="columns small-9 small-centered registry-image">
				<a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=542547820&eventType=Wedding" target="_blank"><img src="/img/media/bbb_logo.png" alt="Bed, Bath &amp; Beyond"></a>
				<a href="http://www.macys.com/registry/wedding/guest/?registryId=6469679" target="_blank"><img src="/img/media/macys_logo.png" alt="Macy's"></a>
				<a href="http://www.target.com/gift-registry/registry/ayCAloYs2AxbSsHRtbu2Tg" target="_blank"><img src="/img/media/target_logo.png" alt="Target"></a>
				<a href="http://www.amazon.com/registry/wedding/26IBYYXY8XZAD/" target="_blank"><img src="/img/media/amazon_logo.png" alt="Amazon"></a>
				<a href="https://www.myregistry.com/wedding-registry/Nick-Such-Mollie-Dawahare-Lexington-KY/972592" target="_blank"><img src="/img/media/myregistrycom_logo.png" alt="MyRegistry.com"></a>
			</div>
		</div><!-- End .registry-form-wrap -->
	</section><!-- End #registry -->
	
	<!-- Schedule section -->
	<section id="schedule">		
		<div class="schedule-content-wrap">
			<h2>Schedule</h2>
			<div class="row">
				<div class="columns large-6">
					<strong>Ceremony</strong>
					<img src="/img/media/st_francis_outside.jpg" alt="St. Francis of Assisi - Pikeville, KY">
					<div class="event-details">
						<p>2:30pm<br>
						St. Francis of Assisi Catholic Church<br>
						137 Bryan St<br>
						Pikeville, KY 41501<br>
						<a href="https://www.google.com/maps/place/137+Bryan+St,+Pikeville,+KY+41501/">VIEW DIRECTIONS</a></p>
						<p>The church where Mollie's parents (and many other family members) were married, and where Mollie went to elementary school. On May 23, 2015, the new St. Francis Church building was dedicated.</p>
					</div><!-- End .event-details -->
				</div><!-- End .columns.large-6 -->
				<div class="columns large-6">
					<strong>Reception</strong>
					<img src="/img/media/green_meadow_porch.jpg" alt="Green Meadow Country Club">
					<div class="event-details">
						<p>5:30pm<br>
						Green Meadow Country Club<br>
						6887 N Mayo Trl<br>
						Pikeville, KY 41501<br>
						<a href="https://www.google.com/maps/place/Green+Meadow+Country+Club/@37.5370378,-82.6052694,17z/data=!3m1!4b1!4m2!3m1!1s0x884512ffa8a24169:0x8d39d3492d24fada">VIEW DIRECTIONS</a></p>
						<p>A 9-hole golf course, with swimming pool, clubhouse, and dining facility. Mollie's grandfather was one of 20 founding members in 1951.</p>
					</div><!-- End .event-details -->
				</div><!-- End .columns.large-6 -->
			</div><!-- End .row -->
		</div><!-- End .schedule-content-wrap -->
	</section><!-- End #schedule -->
	
	<!-- Contact section -->
	<section id="contact">
		<div class="contact-form-wrap">
			<h2>Contact</h2>
			<p class="contact-desc">If you have any questions, please send us a message:</p>
			<form id="contact-form" action="//formspree.io/us@nickandmollie.com" method="post" data-abide>
				<div class="columns large-12">
					<label for="your-name">Name (required)</label>
					<input id="your-name" name="name" type="text" placeholder="John Doe" required pattern="[a-zA-Z]+">

					<label for="your-email">Email Address (required)</label>
					<input id="your-email" name="email" type="email" placeholder="johndoe@email.com" required>
					<small class="error">Please enter a valid email.</small>

					<label for="comments">Comment (required)</label>
					<textarea name="comments" id="comments" placeholder="Comments..." required></textarea>
				</div><!-- End .large-12 -->
				<div class="columns large-12">
					<input class="button" type="submit" value="Send" name="contact_submit">
				</div><!-- End .large-12 -->
				<input type="hidden" name="_next" value="//www.nickandmollie.com">
			</form>
		</div><!-- End .contact-form-wrap -->
	</section><!-- End #contact -->