<footer>
    <p>
      &copy; 2015 Dawahare / Such Family
      <span class="social-icons">
        <a title="Like us on Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        <a title="Follow us on Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a title="We're on Pinterest" href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-p fa-2x"></i></a>
        </span>
    </p>
  </footer>
  
  <script src="js/foundation.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/scripts.js"></script>

  <script type="text/javascript">
    $(function() {
      $('#bridesmaid-carousel').gallery();
      $('#groomsmen-carousel').ggallery();
      $('#couple-gallery').ilScatteredGallery();
    });
  </script>

  <script>
    jQuery(document).foundation();
  </script>