<footer>
    <p>
      &copy; 2015 Dawahare / Such Family
      <span class="social-icons">
        <a title="See Photos on Facebook" href="https://www.facebook.com/search/str/nick%2Bsuch%2Bwith%2Bmollie%2Bdawahare/keywords_photos" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        <a title="Share Photos on Twitter" href="https://twitter.com/hashtag/suchapair" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a title="Share Photos on Instagram" href="https://www.instagram.com/explore/tags/suchapair/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        </span>
    </p>
  </footer>
  
  <script src="js/foundation.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/scripts.js"></script>

  <script type="text/javascript">
    $(function() {
      $('#bridesmaid-carousel').gallery();
      $('#groomsmen-carousel').ggallery();
      $('#couple-gallery').ilScatteredGallery();
    });
  </script>

  <script>
    jQuery(document).foundation();
  </script>