<!-- Mobile navigation -->
  <nav class="mobile-nav-menu">
    <a class="mobile-logo" href="index.html">Mollie and Nick's Wedding</a>
    <a class="mobile-menu-btn" href="#"><span></span></a>
    <div class="mobile-menu-container"></div>
  </nav><!-- End .mobile-nav-menu -->

  <!-- Header -->
  <header class="default">
    <nav>
      <ul>
        <li><a title="The Couple" href="#couple">The Couple</a></li>
        <li><a title="Bridesmaids" href="#bridesmaid-gallery">Bridesmaids</a></li>
        <li><a title="Groomsmen" href="#groomsmen-gallery">Groomsmen</a></li>
        <li><a title="Gallery" href="#couple-gallery">Gallery</a></li>
        <li><a title="Recent Posts" href="#recent-posts">Recent Posts</a></li>
        <li><a title="RSVP &amp; Schedule" href="#rsvp">RSVP &amp; Schedule</a></li>
        <li><a title="Blog" href="blog.html">Blog</a></li>
        <li><a title="Contact" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <h1>Mollie <em>&amp;</em> Nick</h1>
    <span class="ceremony-date">April 16<sup>th</sup>, 2016</span>
  </header>