<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Blog | Mollie Dawahare and Nick Such's wedding website</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/foundation.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/vendor/modernizr.js"></script>
	<script src="js/vendor/jquery-1.11.1.min.js"></script>
</head>
<body class="single">
	
	<!-- Mobile navigation -->
	<nav class="mobile-nav-menu">
		<a class="mobile-logo" href="index.html">Mollie Dawahare and Nick Such's wedding website</a>
		<a class="mobile-menu-btn" href="#"><span></span></a>
		<div class="mobile-menu-container"></div>
	</nav><!-- End .mobile-nav-menu -->
	
	<!-- Header -->
	<header class="default">
		<nav>
			<ul>
				<li><a title="The Couple" href="index.html#couple">The Couple</a></li>
				<li><a title="Bridesmaids" href="index.html#bridesmaid-gallery">Bridesmaids</a></li>
				<li><a title="Groomsmen" href="index.html#groomsmen-gallery">Groomsmen</a></li>
				<li><a title="Gallery" href="index.html#couple-gallery">Gallery</a></li>
				<li><a title="Recent Posts" href="index.html#recent-posts">Recent Posts</a></li>
				<li><a title="RSVP &amp; Schedule" href="index.html#rsvp">RSVP &amp; Schedule</a></li>
				<li class="current-page"><a title="Blog" href="blog.html">Blog</a></li>
				<li><a title="Contact" href="index.html#contact">Contact</a></li>
			</ul>
		</nav>
		<h1>Our Love Story</h1>
	</header>
	
	<!-- Main content -->
	<div class="container">
		<div class="post-header">
			<div class="columns medium-4 large-4 small-12"><a href="blog.html" class="round-btn">Back to Blog</a></div>
			<div class="columns medium-8 large-8 small-12">
				<span class="postmeta">By Michael &nbsp;|&nbsp; Oct 22, 2014 &nbsp;|&nbsp; Bride &amp; Groom</span>
				<span class="share-btns">
					<a href="http://www.facebook.com/sharer/sharer.php?u=YOUR_URL" target="blank">Share on Facebook</a>
					<a href="https://twitter.com/intent/tweet?text=YOUR%20TITLE&amp;url=YOUR_URL" target="blank">Share on Twitter</a>
				</span><!-- End .share-btns -->
			</div><!-- End .large-8 -->
		</div>
		<article class="single-post">
			<img src="http://placehold.it/862x433" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum et urna at scelerisque. Morbi sollicitudin felis eu placerat vestibulum. Aliquam congue justo tempor placerat ultricies. In sit amet nulla dictum, condimentum neque et, cursus sapien. Aliquam malesuada eros sit amet justo euismod auctor. Proin eleifend lacinia vulputate. Vivamus nulla eros, euismod eget eleifend sit amet, euismod eget metus. Quisque commodo erat sit amet sapien egestas, sit amet facilisis turpis tincidunt. Vivamus consectetur tellus non risus malesuada ullamcorper. Ut vulputate, elit eget ullamcorper efficitur, justo velit pretium arcu, at placerat ex magna quis nisl. Donec vitae facilisis mi, id faucibus elit. Ut lobortis vitae nunc eu fringilla.</p>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eros leo, ultricies tincidunt euismod vitae, gravida vel libero. Ut auctor sem a laoreet tempor. Sed et eros risus. Nunc massa tellus, consectetur in dictum nec, auctor nec justo. Vestibulum maximus mi sed enim ornare scelerisque. Etiam mauris lacus, elementum a malesuada aliquam, rhoncus malesuada ex. Etiam lacinia lacus quis lorem facilisis consectetur. Cras arcu sem, suscipit et congue id, fermentum quis odio. Mauris in viverra velit. Integer sollicitudin eget lectus non ullamcorper. Curabitur aliquam tincidunt porta. Nullam tempus lectus eros, sit amet ornare arcu imperdiet faucibus. Morbi semper finibus libero, sit amet malesuada nulla viverra ut.</p>
			<p>Maecenas semper ut nibh nec vulputate. Nam nec lorem at ipsum tristique elementum. Aliquam erat volutpat. Pellentesque tempor ornare condimentum. Sed vel tempor elit, eget eleifend odio. Nam commodo tincidunt tempor. Aliquam pellentesque nisl mollis, vestibulum sem vel, semper ex.</p>
			<p>Duis scelerisque malesuada ante. Vivamus vitae tellus sagittis, laoreet tortor et, eleifend velit. Nunc vitae bibendum dui, non condimentum risus. Vivamus vehicula non augue at vehicula. Nunc venenatis purus vel nunc feugiat pharetra. Nullam at diam eget metus porttitor scelerisque. Curabitur viverra purus quis quam dapibus condimentum. Mauris ornare sapien ex, at cursus sapien fermentum in. Vivamus orci elit, euismod ut turpis sed, dictum pellentesque metus.</p>
			<p>Aenean aliquam massa quis metus congue, vel sodales libero blandit. Curabitur non aliquam turpis, eu egestas nisi. Etiam vehicula pharetra ipsum, in laoreet eros feugiat at. Integer dui ligula, pulvinar in urna a, tempor luctus nunc. Donec vel magna ultrices, suscipit purus quis, sagittis enim. Vestibulum accumsan erat quis mauris sollicitudin, eget elementum nulla pretium. Fusce ut elit faucibus, maximus libero et, facilisis justo. Curabitur scelerisque, leo sit amet porttitor mollis, enim ante molestie orci, eu fringilla lacus risus at nisi.</p>
		</article><!-- End .single-post -->
		
		<!-- Sidebar -->
		<aside>
			<div class="columns small-12 widget categories">
				<h4>Categories</h4>
				<ul>
					<li><a title="" href="#">Events</a></li>
					<li><a title="" href="#">Bridal Shower</a></li>
					<li><a title="" href="#">Groomsmen</a></li>
					<li><a title="" href="#">Gifts</a></li>
				</ul>
			</div><!-- End .widget -->
			<div class="columns small-12 widget archive">
				<h4>Archives</h4>
				<ul>
					<li><a title="" href="#">December 2014</a></li>
					<li><a title="" href="#">November 2014</a></li>
					<li><a title="" href="#">October 2014</a></li>
					<li><a title="" href="#">September 2014</a></li>
				</ul>
			</div><!-- End .widget -->
			<div class="columns small-12 widget social">
				<h4>Social Media</h4>
				<ul class="social-media">
					<li class="fb"><a title="Like us on Facebook" href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
					<li class="tw"><a title="Follow us on Twitter" href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
					<li class="pi"><a title="We're on Pinterest" href="#" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a></li>
					<li class="in"><a title="Find us on Instagram" href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
					<li class="rss"><a title="View the RSS Feed" href="#" target="_blank"><i class="fa fa-rss fa-2x"></i></a></li>
				</ul>
			</div><!-- End .widget -->
		</aside>
	</div><!-- End .container -->

	<footer>
		<p>
			&copy; 2015 Dawahare / Such Family
			<span class="social-icons">
				<a title="Like us on Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
				<a title="Follow us on Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
				<a title="We're on Pinterest" href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-p fa-2x"></i></a>
			</span>
		</p>
	</footer>
	
	<script src="js/foundation.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/scripts.js"></script>

	<script>
		jQuery(document).foundation();
	</script>
</body>
</html>